%h1.current-category= params[:category]

- if @plays.empty?
	%h3 There are no plays in this category
- else
	.row
		- @plays.each do |play|
			.col-md-3
				= link_to play do
					%img{:src => play.image.url(:thumb), :alt => play.title, :class => 'play'}